<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Store APP EDIT</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
</head>

<body>
  <a href="/thedig">
    <h1 id="title">The DiG</h1>
  </a>

  <form action="/thedig/<%= video.id %>?_method=PUT" method="POST" id="edit-box">
    Song Name: <input type="text" name="songName" value="<%= video.songName %>"> <br />
    Artist: <input type="text" name="artist" value="<%= video.artist %>"> <br />
    Genre: <input type="text" name="genre" value="<%=video.genre%>"> <br />
    Link: <input type="url" name="link" value="<%=video.link%>" required> <br />
    Country: <input type="text" name="country" value="<%= video.country%>" /> <br />
    Continent: <input type="text" name="continent" value="<%= video.continent%>" /> <br />
    Year: <input type="text" name="year" value="<%= video.year%>" /> <br />


    <input type="submit" value="Submit Changes">

  </form>

  <div id="bottomNavContainer">
    <a href="/thedig" id="bottomNav">Home</a>
    <a href="/thedig/<%= video.id %>" id="bottomNav">Back</a>
    <img src="https://www.animatedimages.org/data/media/102/animated-music-image-0354.gif" border="0" alt="animated-music-image-0354" id="gif-1" />
        <img src="https://www.animatedimages.org/data/media/102/animated-music-image-0354.gif" border="0" alt="animated-music-image-0354" id="gif-2" />
  </div>
</body>

</html>